.myWorksBlock {
    background-color: #b6bb6f;
}

.myWorkContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.work {
    width: 100%;
    border: 1px solid;
    background-color: goldenrod;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

@media (max-width: 735px) {
    .work {
        justify-content: center;
    }
}
