@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.workContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:0 20px;
  width: 350px;
  &:last-child{
    margin-bottom: 50px;
  }


  .imgAndButtonContainer {
    position: relative;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .descriptionContainer {
      margin-top: 15px;
      margin-left: 10px;
      z-index: 1;

      .titleProject {
        display: block;
        margin: 0 0 5px;
        @include text($fontH,16px);
        letter-spacing: 1px;
        color: $titleColor;
        text-transform: uppercase;
      }

      .descriptionProject {
        display: block;
        margin: 11px 0 23px;
        @include text($fontMainPageText,14px);
        line-height: 32px;
        font-weight: 400;
        color: $textColor;
        min-height: 60px;
      }
    }
    button {
      position: relative;
    }

    &::before {
      content: '';
      position: absolute;
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.8;
    }


  }




}







