@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.container{
  @include flex(column, center, space-between, wrap);
  margin-right: 30px;

  .img{
    width: 60px;
    height: 60px;
    color: $activeColor;
    background-color: $textColor;
  }
  .name{
    margin-bottom: 18px;
    font-size: 16px;
    color: $textColor;
    font-weight: 400;
    text-transform: uppercase;
  }

}