@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

    .skills {
      h2{
        text-align: center;
        color: $titleColor;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 50px;
        @include text($fontH, 23px);
      }

      .skillsData{
        @include flex(row, flex-start, center, wrap);
      }

    }