@import "./src/common/styles/sass/mixins";
@import "./src/common/styles/sass/variables";



  .burger {

    margin-left: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60px;
    min-height: 60px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    color: $titleColor;

    .burgerLine {
      z-index: 1;
      display: block;
      width: 30%;
      height: 2px;
      position: absolute;
      background-color: $titleColor;
      transition: .3s all linear;
    }
    .burgerLineFirst {
      margin-top: 22px;
    }
    .burgerLineFirstActive{
      opacity: 0;
    }
    .burgerLineSecond{
      margin-top: 30px;
      transform: translateY(-50%);

    }
    .burgerLineSecondActive {
      transform: translateY(-50%) rotate(45deg);
    }
    .burgerLineThird {
      display: none;
      margin-top: 30px;
      transform: translateY(-50%);
      }
    .burgerLineThirdActive {
      display: block;
      transform: translateY(-50%) rotate(-45deg);
    }
    .burgerLineFourth {
      margin-top: 36px;
    }
    .burgerLineFourthActive{
      opacity: 0;
    }
    .background{

      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      background: $secondBgColor;
    }
    .backgroundActive{
      transition: .4s all linear;
      height: 270px;
    }

  }



