@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.myWorksBlock {
  .myWorkContainer {
    @include container;
    @include flex(column,center,flex-start,wrap);


    .work {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 1050px) {
        justify-content: center;
      }
    }
  }
}




