@import "../../common/styles/sass/variables.scss";

.myWorksBlock {
  .myWorkContainer {
    flex-direction: column;
    justify-content: flex-start;

    .work {
      width: 100%;
      border: 1px solid;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 735px) {
        justify-content: center;
      }
    }


  }
}




