@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.mainBlock {


  .mainContainer {
    @include container;
    @include flex(row,center,space-between,wrap);
    height: 100%;
    @media (max-width: 769px) {
      justify-content: center;
    }

    .intro {
      width: 300px;
      background-color: brown;
      span{
        font-weight: 400;
        font-size: 19px;
        font-family: 'Open Sans', sans-serif;
      }
    }

    .photo {
      width: 300px;
      height: 300px;
      background-color: red;
    }
  }
}


