@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
.header {
  background-color: $bdColor;
  .headerContainer {
    position: absolute;
   display: inline-block;

  }
}
