@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
.header {
  background-color: $bdColor;
  .headerContainer {
    position: fixed;
   display: inline-block;
    z-index: 10;

  }
}
