@mixin text ($fontFamily,$fontSize){
  font-family: $fontFamily;
  font-size: $fontSize;
}
@mixin flex($flexDirection,$alignItems,$justifyContent,$flexWrap){
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-wrap: $flexWrap;

}
@mixin container(){
  width: 80%;
  margin: 0 auto;
}