$textColor:#eee;
$titleColor:#fff;
$bdColor:#222222;
$secondBgColor:#333333;
$NavTextColor:rgba(255,255,255,.9);
$fontH:'Poppins', sans-serif;
$fontMainPageText:'Open Sans', sans-serif;
$buttonBgColor:rgb(218, 165, 32);

