@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.mainBlock {
  text-align: center;
  margin: 0 auto;

  .mainContainer {
    @include flex(row, center, center, wrap);

    .photoContainer {

      padding: 0 10px;
      position: relative;

      width: 440px;
      height: 440px;
      background-size: contain;
      z-index: 0;
      margin-right: 50px;
      @media (max-width: 971px) {
        width: 80%;
        margin-right: 0;
      }
      .photo {

        @media (max-width: 490px) {
          max-width: 360px;
        }
        width: 440px;
        height: 440px;
        z-index: 3;
        background-size: contain;
      }

      &:before {
        display: inline-block;
        @media (max-width: 971px) {
          display: none;
        }
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        transform: translate3d(26px, 26px, -26px);
        border: 6px solid $activeColor;
      }
    }

    .intro {

      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (max-width: 550px) {
        grid-template-columns: 1fr;
      }
      margin-top: 60px;

      .personalInfo {
        width: 100%;
        text-align: left;
        list-style: none;
        padding: 0;
        margin: 0;

        @include text($fontH, 16px);
        font-weight: 400;


        li {
          color: $textColor;
          box-sizing: border-box;

          padding-bottom: 21px;

          span {
            margin-bottom: 7px;
            opacity: 0.8;
          }
        }
      }

      .containerCV {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  .aboutHr {

    background: #555;
    margin: 72px 50px 30px 50px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  .expEdContainer {
    @include container();
    @include flex(row, flex-start, center, wrap);


  }

  .skillsSection {
    @include container();


    h2 {
      color: $textColor;

      padding-top: 50px;
      @include text($fontH, 23px);
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 50px;
    }

    .skillsContainer {
      @include flex(row, center, center, wrap);
    }
  }
}


